
.logo {
  width: 150px; 
  height: 100%; 
  margin: 5px 0px;
}
#menu_on{
  display: none;
  width:30px;
  height: 20px;
  position: relative;
  z-index: 2;
}
#menu_on span{
  width: 100%;
  height: 4px;
  border-radius: 4px;
  margin: 0px 0px ;
  display: block;
  position: absolute;
  background: rgb(0, 0, 0);
  transition: all 0.25s ease; /* Propiedades a animar | Tiempo | Tipo animación*/
  transform-origin : 0px 100%;
}
#menu_on span:nth-child(2){
  top: calc(50% - 2px);
}
#menu_on span:nth-child(3){
bottom: 0;
}

.navBar {
  background-color: rgba(194, 198, 170, 0.744);
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100% !important;
  z-index: 3;
}

.burguer {
  margin-right: 20px ;
  transition: all 1s ease;
  cursor: pointer;
}
.burgerContent {
  background-color: rgba(194, 198, 170, 0.744);
  max-height: 0px;
  transition: all 0.3s ease-in-out;
  top: 79px;
  right: 0%;
  overflow: hidden;
  width: fit-content;
  float: right;
  z-index: 3;
  position: fixed;

}
.burguerMenu {
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  display: block;
  width: 100%;
  margin: 0px 50px 0px 0px;
  padding-left: 20px;
  z-index: 2;
  cursor: pointer;
}
.burguerMenu:hover {
  background: rgb(189, 174, 174);
}

#state:checked + .burgerContent {  
  max-height: 150px;
  display: block;
}
#state:checked ~ .burguer {  
  transform: rotate(90deg);
}

.navBarContent {
  margin-right: 5px ;
  width: 55%;
}

.content {
  display: flex;
  justify-content: space-evenly;
}
.content a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 700px) {
  #menu_on {
      display: inline-block;
  }
  .logo {
      width: 120px;
  }
  .navBarContent {
      display: none;

  }
}